$purple-color: #9012FE;

.list--settings {
  li {
    margin: 0;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  bottom: 0;
  padding: 40px;
  padding-top: 0;
  .slider {
    height: 22px;
    label {
      height: 22px;
      width: 50px;
      &::before {
        border-radius: 60px;
      }
      &::after {
        width: 17px;
        border-radius: 60px;
        background-color: #fff;
      }
    }
  }
  .slider input[type="checkbox"]:checked + label:after {
    margin-left: 25px;
  }
}

// .entities-list {
//   height: 220px;
//   overflow-y: scroll;
// }

.main {
  margin-left: 360px;
}

.image-viewer-open {
  margin-right: 440px;
  transition: margin 0.3s ease;
}

.quiet {
  opacity: 0.6;
}

.panel {
  min-height: 400px;
  margin-bottom: 2em;
  width: 100%;
  justify-content: center;
  border-top: none;
  position: relative;
  .brand-stamp {
    display: none;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 10px;
  }
  img {
    max-width: 100%;
    max-height: 300px;
  }
  .sentiment-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 40px;
    height: 14px;
    width: 24px;
    border: 3px solid;
  }
  &--sentiment-positive {
    .sentiment-circle {
      border-color: $positive-color;
      background: $positive-color;
    }
  }
  &--sentiment-negative {
    .sentiment-circle {
      border-color: $negative-color;
      background: $negative-color;
    }
  }
  &--sentiment-neutral {
    .sentiment-circle {
      border-color: $purple-color;
      background: $purple-color;
    }
  }
}

.image-view {
  position: fixed;
  right: 40px;
  top: 0;
  bottom: 0;
  width: 400px;
}

.branded {
  .brand-stamp {
    display: block;
    position: absolute;
  }
}

.sentiment-toggles {
  margin: 0 3px 0 0;
  position: relative;
  top: 2px;
  .toggle {
    border: 2px solid;
    height: 14px;
    width: 24px;
    display: inline-block;
    border-radius: 40px;
    margin-left: 6px;
  }
  .positive {
    .toggle {
      border-color: $positive-color;
    }
    &.checked {
      .toggle {
        background: $positive-color;
      }
    }
  }
  .negative {
    .toggle {
      border-color: $negative-color;
    }
    &.checked {
      .toggle {
        background: $negative-color;
      }
    }
  }
  .neutral {
    .toggle {
      border-color: $purple-color;
    }
    &.checked {
      .toggle {
        background: $purple-color;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

.status--neutral {
  background: $purple-color;
  box-shadow: 0 0 0.4375em $purple-color;
}

.icon--circle-close {
  color: #c7cace;
  font-size: 2rem;
  background: #fff;
  position: absolute;
  left: -16px;
  top: 28px;
  z-index: 999;
}

.zero-state-wrapper {
  position: relative;
  width: 100%;
}
